body {
  margin: 0;
  font-family: "Lilita One", sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button {
  font-family: inherit;
  font-weight: 400;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
  ;
}