# Ignore node_modules directory
node_modules/

# Ignore .env files
.env

# Ignore log files
*.log

# Ignore compiled files
*.dll
*.exe
*.o
*.a

# Ignore macOS system files
.DS_Store

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore dependencies installed via npm or yarn
/yarn.lock
/package-lock.json

# Ignore environment-specific configuration files
/config/*.env
