.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-button {
    background-color: #86ee04;
    border: none;
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.avatar-carousel {
    display: flex;
    overflow: hidden;
    width: 200px;
    justify-content: center;
    gap: 10px;
}

.avatar-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-image {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background-size: cover;
    background-position: center;
    cursor: pointer;
}

.avatar-image:hover {
    filter: brightness(1.1);
}