.game {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: repeat(3, 33%);
    max-width: 100vw;
    height: 300px;
    width: 300px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 35px;
    padding: 10px;
    border: 3px solid #8d53fb;
    border-bottom: 10px solid #8d53fb;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}


.square {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background-color: #d2d9ff;
    cursor: pointer;
    margin: auto;
    border-radius: 15px;
    width: 80%;
    height: 80%;
}

.game-info {
    min-width: 200px;
    box-sizing: border-box;
    padding: 10px;
    background-color: #55eeff;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 600;
    -webkit-text-stroke: 1px #108eed;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.score-board {
    display: flex;
    gap: 10px
}

.player-score__points {
    font-size: 28px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.player-score__avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5px;
}

.dash {
    margin: auto 10px;
    width: 10px;
    height: 0;
    border: 2px solid #fff;
}

@media (max-width: 768px) {
    .square {
        /* width: 50px;
        height: 50px; */
    }
}

.x-sign {

    font-size: 45px;
    color: red;
    text-shadow: -1px 1px 0 #000,
        3px 3px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.o-sign {
    font-size: 45px;
    color: #fff;
    text-shadow: -1px 1px 0 red,
        3px 3px 0 red,
        1px -1px 0 red,
        -1px -1px 0 red;
}
