.home-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100vh;
}

button {
    border-radius: 20px;
    height: 35px;
    border: 2px solid #fff;
    box-shadow: rgba(0, 0, 0, 0.4) 2px 2px;
    width: 200px;

}

.join-btn {
    background-color: #86ee04;
}

.create-btn {
    background-color: #ffdd17;
}

.home-page h1 {
    margin: 0;
}

@keyframes pulse-animation {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse-animation 1.5s infinite;
    text-shadow: -1px 1px 0 #fff,
        1px 1px 0 #fff,
        1px -1px 0 #fff,
        -1px -1px 0 #fff;
}

.home-page {
    text-align: center;
    padding: 20px;
}


@media (min-width: 600px) {
    .pulse {
        font-size: 80px;
    }

    .home-page button {
        width: 200px;
        height: 40px;
        border-radius: 20px;
        font-size: larger;
    }

}