.joining-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 100vh;
}

input {
    text-align: center;
    padding: 5px 0;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid #4cdafe;
    color: #4cdafe;
    font-size: 20px;
}

input::placeholder {
    color: #4cdafe;
}

.joinRoom-btn {
    color: #fff;
    width: 100px;
    background-color: #86ee04;
}

.joining-room h2 {
    margin: 10px;
}

.avatar-list {
    margin: 15px 0;
}